body {
    background-color: burlywood;
    padding: 64px;
}

div.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box; 
    align-items: center;
}

div.content {
    display: flex;
    justify-content: space-evenly;
    padding: 0 64px 64px 64px;
    gap: 32px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: bold;
    color: blue;
}

p {
    font-size: 24px;
    color: #333333;
}

span {
    font-size: 32px;
    background-color: aliceblue;
    padding: 16px;
    border-radius: 8px;
    transition: padding 2s;
    box-shadow: 31px 25px 50px 36px rgba(0, 0, 0, 0.36);
    cursor: copy;
}

span:hover {
    background-color: aqua;
    padding: 60px;
}
